.preloader {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 10px auto;
}

.preloader__point {
  position: absolute;

  width: 40%;
  height: 40%;
  margin: 0;
  border: 0;
  border-radius: 50%;

  animation: spin 2s ease infinite;
}

.preloader :nth-child(1) {
  background: #19a68c;

  animation-delay: -1.5s;
}

.preloader :nth-child(2) {
  background: #ff748b;

  animation-delay: -1s;
}

.preloader :nth-child(3) {
  background: #ffb676;

  animation-delay: -.5s;
}

.preloader :nth-child(4) {
  background: #727e86;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
