@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

#root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;

  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}

input,
button,
a.btn {
  font-size: 1em!important;
}

a {
  color: #727e86;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}

.nav-item {
  font-size: 1.2em;
}

.nav-link_active {
  color: #ff0000 !important;
}

.main {
  flex-grow: 1;
}
