@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #727e86;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* Common Styles */
.invisible {
  opacity: 0;
  transition: all .3s ease;
}

/* Header */
.header-controls-pics {
  display: flex;
  justify-content: space-between;
  max-width: 280px;
  margin-left: auto;
}

.header-controls-pic {
  width: 32px;
  height: 32px;
  margin: 0 10px;

  background-image: url(./images/header-controls-sprite.png);
  background-repeat: no-repeat;

  cursor: pointer;
}

.header-controls-search {
  position: relative;
  z-index: 1;

  background-position: -64px 0;
}

.header-controls-profile {
  position: relative;

  background-position: -32px 0;
}

.header-controls-cart {
  position: relative;

  background-position: 0 0;
}

.header-controls-cart-full {
  position: absolute;
  top: -5px;
  right: -10px;

  display: block;
  width: 21px;
  height: 21px;

  font-size: 11px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(90deg, #ff65a5 1.11%, #ff8076 100%);
  box-shadow: 0 2px 8px rgba(255, 101, 165, 0.6), inset 0 1px 1px #ff8076;
  border-radius: 50%;

  pointer-events: none;
}

.header-controls-cart-link {
  display: block;
  height: 30px;
}

.header-controls-search-form {
  position: absolute;
  top: calc(50% - 19px);
  right: 65px;

  display: block;
  width: 233px;
  height: 38px;
  padding: 0 20px;

  text-align: right;

  background: #ffffff;
  box-shadow: 0 0 10px #d4e4e6;
  border-radius: 50px;
}

.header-controls-search-form .form-control {
  width: 100%;
  height: 100%;

  color: #333333;
  box-shadow: none;
  border: none;
  outline: none;
}

/* Banner */
.banner {
  position: relative;
}

.banner-header {
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 5;

  width: 487px;
  height: 98px;

  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}

/* Main */
.main {
  flex-grow: 1;
}

/* Preloader */
.preloader {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 10px auto;
}

.preloader span {
  position: absolute;

  width: 40%;
  height: 40%;
  margin: 0;

  border: 0;
  border-radius: 50%;

  animation: spin 2s ease infinite;
}

.preloader :first-child {
  background: #19a68c;

  animation-delay: -1.5s;
}

.preloader :nth-child(2) {
  background: #ff748b;

  animation-delay: -1s;
}

.preloader :nth-child(3) {
  background: #ffb676;

  animation-delay: -0.5s;
}

.preloader :last-child {
  background: #727e86;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

/* Catalog */
.catalog-categories {
  margin-bottom: 2em;

  font-size: 1.3rem;
}

.catalog-item-card {
  margin-bottom: 1em;
}

.col-4 {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.card-img-top {
  padding: 1.25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog-item-size {
  display: inline-block;
  padding: 0 10px;

  cursor: pointer;
}

.catalog-item-size.selected {
  color: #ffffff;
  background: #727e86;
  border-radius: 15px;
}

.catalog-search-form {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0 20px;
  margin-bottom: 2em;

  background: #ffffff;
  box-shadow: 0 0 10px #d4e4e6;
  border-radius: 50px;
}

.catalog-search-form .form-control {
  width: 100%;
  height: 100%;

  color: #333333;
  box-shadow: none;
  border: none;
  outline: none;
}

/* Footer */
.footer {
  padding: 0 25px;
}

.footer-pay {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
}

.footer-pay-systems {
  width: 46px;
  height: 28px;

  background-color: #ffffff;
  background-image: url(./images/footer-sprite.png);
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.footer-pay-systems:not(:first-child) {
  margin-left: 5px;
}

.footer-pay-systems-paypal {
  background-position: -2px -6px;
}

.footer-pay-systems-master-card {
  background-position: -54px -8px;
}

.footer-pay-systems-visa {
  background-position: -104px -8px;
}

.footer-pay-systems-yandex {
  background-position: -154px -8px;
}

.footer-pay-systems-webmoney {
  background-position: -2px -46px;
}

.footer-pay-systems-qiwi {
  background-position: -52px -46px;
}

.footer-social-links {
  margin-top: 10px;
}

.footer-social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;

  background-image: url(./images/footer-sprite.png);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.footer-social-link-twitter {
  background-position: -107px -42px;
}

.footer-social-link-vk {
  background-position: -157px -42px;
}

.footer-social-link:hover {
  cursor: pointer;
}

.footer-copyright {
  font-size: 0.8em;
}

.footer-contacts-phone {
  display: block;
}

.footer-contacts-email {
  display: block;
}

/* Bootstrap */
.nav-link.active {
  color: #ff0000 !important;
}

h2,
.h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.btn-outline-primary {
  color: #727e86;
  border-color: #727e86;
}

.btn-outline-primary:hover {
  background-color: #727e86;
  border-color: #727e86;
}
